body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/ColeAndersen1/WGPCwebsite/blob/f900f8c7998ea435cfc74d3b520ed25680db0d7e/WGPCBackground.gif') center/cover no-repeat;
    filter: blur(8px);
    z-index: -1;
}

.content {
    text-align: center;
    z-index: 1;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

#countdown {
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
}
